<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">i18n('imgsettings')</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="i18n" data-i18n="[html]imgwidth">
            <label>i18n('imgwidth')</label>
            <P>i18n('imgwidthdesc')</P>
            <input class="form-control" name="imageWidth">
        </div>
        <div class="form-group">
            <label><%- i18n('imgHeight') %></label>
            <P><%- i18n('imgHeightdesc') %></P>
            <input class="form-control" name="imageHeight">
        </div>
        <div class="form-group">
            <P><%- i18n('grayscaledesc') %></P>
            <label><input type="checkbox" name="checkboxBoolean" data-value-type="boolean"/><%- i18n('grayscale') %></label>
         </div>
    </div>
</div>